<div class="has-text-centered">
  <form (submit)="oneTabSubmit()">
    <div class="form-group">
      <div class="select is-centered">
        <select style="width:300px; max-width:350px;" id="dataSelectionLocation" title="Which data set do you want to view" [(ngModel)]="selection" name="selection" [ngModelOptions]="{ updateOn: 'submit'}">
          <option *ngFor="let option of choices" [value]="option.name">{{option.name}}</option>
        </select>
      </div>
      <br/>
      <div class="select is-centered">
        <select style="width:300px; max-width:350px;" id="yearSelection" title="Which year do you want to view" [(ngModel)]="selectedYear" name="selectedYear" [ngModelOptions]="{ updateOn: 'blur'}">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
      <br/>
      <div class="level">
        <div class="level-item">
          <br/>
          <button type="submit" class="btn btn-success">
          Submit
          </button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="title is-6">
            MAX ({{max.toLocaleString()}} {{descriptor}})
          </div>
          <div class="scrollable">
            <section *ngFor="let country of maxmin['max']">{{country}}</section>
          </div>
        </div>
        <div class="column">
          <div class="title is-6">
            MIN ({{min.toLocaleString()}} {{descriptor}})
          </div>
          <div class="scrollable">
            <section *ngFor="let country of maxmin['min']">{{country}}</section>
          </div>
        </div>
      </div>
      <div *ngIf="info != null">
        <div class="column">
          <p>
            Find more information about the {{selection}} <a href="{{info}}" target="_blank">here</a>
          </p>
        </div>
      </div>
      <br/>
    </div>
  </form>
</div>
