<nav class="navbar is-light" role = "navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu has-text-centered">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/main">
        <i><strong>WORLD MAP</strong></i>
      </a>
      <a class="navbar-item" routerLink="/about">
        <i><strong>ABOUT</strong></i>
      </a>
      <a class="navbar-item" routerLink="/author">
        <i><strong>AUTHOR</strong></i>
      </a>
    </div>
  </div>
</nav>
