<nav class="navbar is-light" role = "navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-start is-hidden-desktop">
      <a class="navbar-item">
        <i><strong>WORLD MAP</strong></i>
      </a>
    </div>
    <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu has-text-centered">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/main" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <a class="is-hidden-touch has-text-black"><i><strong>WORLD MAP</strong></i></a>
        <a class="is-hidden-desktop has-text-black" ><i><strong>HOME</strong></i></a>
      </a>
      <a class="navbar-item" routerLink="/about" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <i><strong>ABOUT</strong></i>
      </a>
      <a class="navbar-item" routerLink="/author" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <i><strong>AUTHOR</strong></i>
      </a>
    </div>
  </div>
</nav>
