
<main class="tabs is-centered is-boxed is-large">
  <ul>
    <li id="one" class="" (click)="clickOne()">
      <a>One</a>
    </li>
    <li id="ratio" class="" (click)="clickRatio()">
      <a>Ratio</a>
    </li>
    <li id="graph" class="is-active" (click)="clickGraph()">
      <a>Graph</a>
    </li>
  </ul>
</main>
<div>
  <div id="one-info" class="is-hidden">
    <app-one-tab></app-one-tab>
  </div>
  <div id="ratio-info" class="is-hidden">
    <app-ratio-tab></app-ratio-tab>
  </div>
  <div id="graph-info" class="">
    <app-graph-tab></app-graph-tab>
  </div>
</div>
