<div class="has-text-centered is-centered is-gapless">
  <form (submit)="ratioTabSubmit()">
    <div class="form-group">
      <div class="title is-5">
        Data
      </div>
      <div class="columns">
        <div class="column">
          <div>
            {{yearBeg}}
          </div>
        </div>
        <div class="column">
          <div>
            {{yearEnd}}
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          {{selectedData}}
        </div>
      </div>
      <div class="level has-text-centered">
        <div class="level-item">
          <button type="submit" class="btn btn-success">
            Submit
          </button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div>
            max
          </div>
          <div class="scrollable">
            max countries here
          </div>
        </div>
        <div class="column">
          <div>
            min
          </div>
          <div class="scrollable">
            min countries here
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
