<div class="has-text-centered is-centered is-gapless">
  <form (submit)="ratioTabSubmit()">
    <div class="form-group">
      <div class="title is-5">
        Data
      </div>
      <div class="columns">
        <div class="column">
          <div>
            <div class="select is-centered">
              <select style="width:150px; max-width:175px;" id="yearEndSelection" title="Which year do you want to view" [(ngModel)]="yearBeg" name="yearBeg" [ngModelOptions]="{ updateOn: 'blur'}">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column">
          <div>
            <div class="select is-centered">
              <select style="width:150px; max-width:175px;" id="yearBegSelection" title="Which year do you want to view" [(ngModel)]="yearEnd" name="yearEnd" [ngModelOptions]="{ updateOn: 'blur'}">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          <div class="select is-centered">
            <select style="width:300px; max-width:350px;" id="dataSelectionLocation" title="Which data set do you want to view" [(ngModel)]="selectedData" name="selectedData" [ngModelOptions]="{ updateOn: 'submit'}">
              <option *ngFor="let option of choices" [value]="option.name">{{option.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="level has-text-centered">
        <div class="level-item">
          <button type="submit" class="btn btn-success">
            Submit
          </button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div>
            max
          </div>
          <div class="scrollable">
            max countries here
          </div>
        </div>
        <div class="column">
          <div>
            min
          </div>
          <div class="scrollable">
            min countries here
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
