body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

h1, title, subtitle {
  font-family: "Times New Roman", Times, serif;
}

site {
  user-experience: no-bugs;
}

href{
  color: -webkit-link;
}


