<br/>
<div class="level">
  <div class="level-item">
    <div class="title is-size-2">
      <i><strong>ABOUT THE MAP</strong></i>
    </div>
  </div>
</div>
<div class="container">
  <div class="section has-text-left is-size-4">
    <ul class="dash">
      <li><i>All statistics gathered from <a href="http://data.un.org/Explorer.aspx?d=UNESCO" target="_blank">this site</a> </i></li>
      <li><i>Data parsed and overlaid onto a map of the world</i></li>
      <li><i>Colors are automatically assigned to a country based on its numerical value for that dataset & year</i></li>
      <li><i>Intended to be used as a comparative tool for worldwide datasets between countries.</i></li>
      <li><i>One tab: Choose one dataset and a year, and that year's data will be overlaid onto the map.</i></li>
      <li><i>Ratio tab: Choose one dataset and two years, and the difference in values as a percentage of the original will be overlaid onto the map.</i></li>
    </ul>
  </div>
  <br/>
  <div class="title has-text-centered">
    <i><strong>FUTURE FEATURES (IF I GET TIME)</strong></i>
  </div>
  <div class="section has-text-left is-size-4">
    <ul class="dash">
      <li><i>Upload data from UNESCO site, OR, implement all those datasets and filter through data</i></li>
      <li><i>Compare different datasets over years - implement linear regression analysis to compare datasets</i></li>
      <li><i>Include correlation statistics for ratio tab between datasets & time</i></li>
    </ul>
  </div>
</div>
