ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  font-family: "Times New Roman", Times, serif;
}
ul.dash > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
